{% extends "navbar.html" %}
{% block title_block %} Login {% endblock %}
{% block body_block %}
{% load crispy_forms_tags %}

<main>

  <section class="py-6 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Login Here</h1>

        <form class="form-control" id="formGroupExampleInput2" method="POST">
          {{ login_form | crispy }}
          {% csrf_token %}
          <button style="margin:05px" type="submit" class="btn btn-primary btn-sm" >Login Here</button>
        </form>
      
      </div>
    </div>
  </section>

  <div class="album py-6 bg-light">
    <div class="container" style="padding-top:20px">



      </div>
    </div>
  </div>

</main>
{% endblock %}