{% extends "navbar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %} Signup {% endblock %}

{% block body_block %}
<main>

  <section class="py-6 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Create New Account</h1>
      
      </div>
    </div>
  </section>

  <div class="album py-6 bg-light">
    <div class="container" style="padding-top:20px">


        {% if register %}
        <div class="alert alert-success">
          Account Creation Success! <a href="{% url 'sign_up_app:login' %}">Login here</a>
        </div>
        {% else %}
        <form class="form-control" id="formGroupExampleInput2" method="POST">
            <!-- new nav end -->
            {{ signup_form | crispy }}
            {% csrf_token %}
            <button style="margin: 05px" type="submit" class="btn btn-success btn-sm" >Create Account</button>
            
        </form>
        <br>
        <p>Already Have Account? <a href="{% url 'sign_up_app:login' %}">let's login</a></p>
        {% endif %}
      </div>
    </div>
  </div>

</main>

{% endblock %}